*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background: rgb(76, 11, 129);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.Container{
    width: 100vw;
    max-width: 1200px;
    min-width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    max-width: 100%;
    min-width: 90%;
}